NIST HL7 v2 schemas/Legacy/NIST Display Schema/Profile.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ============================================================================================================= 
	HL7 Conformance Profile Schema version xxx Salifou Sidi M. Malick - Prometheus 
	Computing - s.malick@prometheuscomputing.com ============================================================================================================= -->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="ValueSets.xsd"/>

	<!-- ============================================================================================================= 
		========================= Root Element Definition ======================================= 
		============================================================================================================= -->

	<xs:element name="ConformanceProfile" type="ConformanceProfileType"> </xs:element>

	<!-- ============================================================================================================= 
		========================= Attribute Group Definitions ======================================= 
		============================================================================================================= -->

	<xs:attributeGroup name="RepeatableProperties">
		<xs:attribute name="Min" type="PositiveInteger" use="required">
			<xs:annotation>
				<xs:documentation>
					This identifies the minimum number of repetitions
					of the element that are permitted in a message instance. This
					attribute should
					only be specified if the minimum number of repetitions is greater than
					1, as the minimum for other elements is always '0'.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Max" type="IntegerOrStar" use="required">
			<xs:annotation>
				<xs:documentation>
					This identifies the maximum number of repetitions
					of the element that are permitted in a message instance. This
					attribute should
					only be specified if the maximum number of repetitions is greater than
					1 and differs from the minimum attribute (i.e. the maximum
					number of
					repetitions is greater than the minimum number of repetitions). The
					special value '*' may be used to represent 'unlimited' repetitions.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>

	<xs:attributeGroup name="DataElementProperties">
		<xs:attribute name="Name" type="NonEmptyString" use="required"/>
		<xs:attribute name="Usage" type="UsageType" use="required"/>
		<xs:attribute name="Datatype" type="NonEmptyString" use="required">
			<xs:annotation>
				<xs:documentation>The datatype of the data element.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="MinLength" type="IntegerOrNA" use="required">
			<xs:annotation>
				<xs:documentation>Identifies the minimum allowed length for the
					content of the element.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="MaxLength" type="IntegerNAOrStar" use="optional" default="*">
			<xs:annotation>
				<xs:documentation>Identifies the maximum allowed length for the
					content of the element.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ConfLength" type="ConfLengthType" use="optional">
			<xs:annotation>
				<xs:documentation>The minimum length an application must be able to
					handle.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Binding" type="NonEmptyString" use="optional"/>
		<xs:attribute name="BindingStrength" type="BindingStrengthType" use="optional"/>
		<xs:attribute name="BindingLocation" type="BindingLocationType" use="optional"/>
	</xs:attributeGroup>

	<!-- ============================================================================================================= 
		========================= Simple Types Definitions ======================================= 
		============================================================================================================= -->

	<xs:simpleType name="PositiveInteger">
		<xs:restriction base="xs:integer">
			<xs:pattern value="[0-9]+"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="IntegerOrStar">
		<xs:restriction base="xs:string">
			<xs:pattern value="\d+|\*"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="IntegerOrNA">
		<xs:restriction base="xs:string">
			<xs:pattern value="\d+|NA"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="IntegerNAOrStar">
		<xs:restriction base="xs:string">
			<xs:pattern value="\d+|\*|NA"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="NonEmptyString">
		<xs:restriction base="xs:string">
			<xs:pattern value="[\s]*[\S].*"/>
			<!-- \S is the negation of \s -->
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="UsageType">
		<xs:annotation>
			<xs:documentation>
				Usage identifies the circumstances under which an
				element appears in a message. Possible values are:
				R - Required (must always be present);
				RE - Required or Empty (must be present if available);
				O - Optional (no guidance on when the element should appear);
				C - Conditional (the element is required or allowed to be present
				when the condition specified in the Predicate element is true);
				X -
				Not supported (the element is not supported)
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="R"/>
			<xs:enumeration value="RE"/>
			<xs:enumeration value="O"/>
			<xs:enumeration value="C"/>
			<xs:enumeration value="X"/>
			<!-- #FIXME# Not sure if we need these -->
			<xs:enumeration value="B"/>
			<xs:enumeration value="W"/>
			<xs:enumeration value="CE"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="MsgStructIDType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z0-9]{3}(_[A-Z0-9]{3})?"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ConfLengthType">
		<xs:restriction base="NonEmptyString">
			<xs:pattern value="\d*[#=]{0,1}|NA"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="DatatypeNameType">
		<xs:restriction base="NonEmptyString">
			<!-- <xs:pattern value="-|[a-zA-Z0-9]+"></xs:pattern> -->
			<xs:pattern value="-|([a-zA-Z0-9]+(_[a-zA-Z0-9]+)?)"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="SegmentNameType">
		<xs:restriction base="NonEmptyString">
			<xs:pattern value="[A-Z]{2}[0-9]{1}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="BindingStrengthType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="R"/>
			<!-- Required -->
			<xs:enumeration value="S"/>
			<!-- Suggested -->
			<xs:enumeration value="U"/>
			<!-- Undermined -->
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="BindingLocationType">
		<xs:restriction base="xs:string">
			<xs:pattern value="\d+|(\d+:\d+)"/>
		</xs:restriction>
	</xs:simpleType>

	<!-- ============================================================================================================= 
		========================= Complex Types Definitions ======================================= 
		============================================================================================================= -->

	<xs:complexType name="DynamicMappingType">
		<xs:sequence>
			<xs:element name="Case" minOccurs="1" maxOccurs="unbounded" type="CaseType">
			</xs:element>
		</xs:sequence>
		<xs:attribute name="Reference" type="xs:string" use="required"> </xs:attribute>
		<xs:attribute name="SecondReference" type="xs:string"> </xs:attribute>
		<xs:attribute name="Name" type="NonEmptyString" use="required"/>
	</xs:complexType>

	<xs:complexType name="DataElementType" abstract="true">
		<xs:attributeGroup ref="DataElementProperties"/>
		<xs:attribute name="Flavor" type="NonEmptyString"/>
	</xs:complexType>

	<xs:complexType name="FieldType">
		<xs:complexContent>
			<xs:extension base="DataElementType">
				<xs:sequence>
					<xs:element name="Predicate" type="PredicateType" maxOccurs="1" minOccurs="0"/>
					<xs:element name="ConformanceStatements" type="ConformanceStatementsType"
						maxOccurs="1" minOccurs="0"> </xs:element>
					<xs:element name="Structure" type="FieldStructureType" maxOccurs="1"
						minOccurs="0"> </xs:element>

				</xs:sequence>
				<xs:attributeGroup ref="RepeatableProperties"/>
				<xs:attribute name="ItemNo" type="NonEmptyString" use="optional"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="SegmentType">
		<xs:annotation>
			<xs:documentation>Documents the characteristics of a single HL7
				segment within the context of a particular message or segment group.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Predicate" type="PredicateType" maxOccurs="1" minOccurs="0"> </xs:element>
			<xs:element name="ConformanceStatements" type="ConformanceStatementsType" maxOccurs="1"
				minOccurs="0"> </xs:element>
			<xs:element name="Structure" type="SegmentStructureType" maxOccurs="1" minOccurs="1"> </xs:element>


		</xs:sequence>
		<xs:attribute name="ID" type="NonEmptyString" use="required"/>
		<xs:attribute name="Usage" type="UsageType" use="required"/>
		<xs:attributeGroup ref="RepeatableProperties"/>
		<xs:attribute name="Name" type="xs:string" use="required"/>
		<xs:attribute name="Description" type="xs:string"/>
	</xs:complexType>

	<xs:complexType name="GroupType">
		<xs:annotation>
			<xs:documentation>Documents the characteristics of a grouping of HL7
				segments within the context of a particular message or segment
				group.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Predicate" type="PredicateType" maxOccurs="1" minOccurs="0"> </xs:element>
			<xs:element name="ConformanceStatements" type="ConformanceStatementsType" maxOccurs="1"
				minOccurs="0"> </xs:element>
			<xs:element name="Structure" type="GroupStructureType" maxOccurs="1" minOccurs="1">
			</xs:element>
		</xs:sequence>
		<xs:attribute name="ID" type="NonEmptyString" use="required"/>
		<xs:attribute name="Name" type="NonEmptyString" use="required"/>
		<xs:attribute name="Usage" type="UsageType" use="required"/>
		<xs:attributeGroup ref="RepeatableProperties"/>
	</xs:complexType>

	<xs:complexType name="MessageType">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
		<xs:choice minOccurs="1" maxOccurs="unbounded">
			<xs:element name="Segment" type="SegmentType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Group" type="GroupType" minOccurs="1" maxOccurs="1"/>

		</xs:choice>

		<xs:attribute name="Name" type="NonEmptyString" use="optional"/>
		<xs:attribute name="Type" type="NonEmptyString" use="required"/>
		<xs:attribute name="Event" type="NonEmptyString" use="required"/>
		<xs:attribute name="StructID" type="MsgStructIDType" use="required">
			<xs:annotation>
				<xs:documentation>
					The HL7 message structure code, as identified in
					MSH-9.3 (see HL7 Table 0354 - Message Structure
					Type).
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Description" type="NonEmptyString" use="optional">
			<xs:annotation>
				<xs:documentation>
					A description of the event carried by this message.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>

	</xs:complexType>

	<xs:complexType name="MetaDataType">
		<xs:attribute name="Name" type="NonEmptyString" use="required">
			<xs:annotation>
				<xs:documentation>Name of this profile ex) Z22 Message profile</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="OrgName" type="NonEmptyString" use="required">
			<xs:annotation>
				<xs:documentation>Organization Name of this profile ex) NIST</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Version" type="NonEmptyString" use="required">
			<xs:annotation>
				<xs:documentation>Version of this profile ex) 1.0.0</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Date" type="NonEmptyString" use="required">
			<xs:annotation>
				<xs:documentation>Date of this profile ex) YYYYMMDD</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="SpecificationName" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Provides a name that clearly and concisely defines the message exchange being profiled.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Status" use="optional">
			<xs:annotation>
				<xs:documentation>Status of this profile, as assigned by the author. There is no prescribed status scheme at this time. Possible values might include: 'Draft', 'Active', 'Superceded', 'Withdrawn'</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Draft"/>
					<xs:enumeration value="Active"/>
					<xs:enumeration value="Superceded"/>
					<xs:enumeration value="Withdrawn"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Topics" type="NonEmptyString" use="optional">
			<xs:annotation>
				<xs:documentation>This provides a list of key-words that relate to the profile and that may be useful in profile searches.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:complexType name="ConformanceProfileType">
		<xs:sequence>
			<xs:element name="MetaData" type="MetaDataType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Message" minOccurs="1" maxOccurs="1" type="MessageType"/>
			<xs:element name="ValueSetReference" type="ValueSetReferenceType" minOccurs="0"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" ref="ValueSetLibrary"/>
		</xs:sequence>
		<xs:attribute name="ID" type="NonEmptyString" use="optional"/>
		<xs:attribute name="Type" use="optional">
			<xs:simpleType>
				<xs:annotation>
					<xs:documentation>
						Categorizes the profile into one of 3 types:
						HL7 -
						represents a specific HL7 published standard (may only be
						submitted by the HL7 Organization);
						Constrainable - May contain
						"Optional" elements which must be further constrained in order to
						create implementation profiles;
						Implementation - Fully constrained
						with no optionality (reflects the behavior of a runtime system)
					</xs:documentation>
				</xs:annotation>
				<xs:restriction base="xs:string">
					<xs:enumeration value="HL7"/>
					<xs:enumeration value="Constrainable"/>
					<xs:enumeration value="Implementation"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="HL7Version" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="2.0"/>
					<xs:enumeration value="2.1"/>
					<xs:enumeration value="2.2"/>
					<xs:enumeration value="2.3"/>
					<xs:enumeration value="2.3.1"/>
					<xs:enumeration value="2.4"/>
					<xs:enumeration value="2.5"/>
					<xs:enumeration value="2.5.1"/>
					<xs:enumeration value="2.6"/>
					<xs:enumeration value="2.7"/>
					<xs:enumeration value="2.8"/>
					<xs:enumeration value="2.8.1"/>
					<xs:enumeration value="2.8.2"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<!-- Need to review the schema versions values -->
		<xs:attribute name="SchemaVersion" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="1.0"/>
					<xs:enumeration value="1.5"/>
					<xs:enumeration value="2.0"/>
					<xs:enumeration value="2.5"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>

	<xs:complexType name="SegmentStructureType">
		<xs:sequence>
			<xs:choice maxOccurs="unbounded" minOccurs="1">
				<xs:element name="Field" type="FieldType" minOccurs="1" maxOccurs="1"> </xs:element>
				<xs:element name="DynamicField" type="DynamicMappingType" minOccurs="1"
					maxOccurs="1"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ConformanceStatementsType">
		<xs:sequence>
			<xs:element name="ConformanceStatement" type="ConformanceStatementType" minOccurs="1"
				maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ConformanceStatementType">
		<xs:sequence>
			<xs:element name="Description" type="xs:string" maxOccurs="1" minOccurs="1"> </xs:element>
			<xs:element name="Assertion" type="AnyAssertionType" maxOccurs="1" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="ID" type="xs:string" use="required"/>
	</xs:complexType>

	<xs:complexType name="FieldStructureType">
		<xs:sequence>


			<xs:choice maxOccurs="1" minOccurs="1">
				<xs:element name="Component" type="ComponentType" maxOccurs="unbounded"
					minOccurs="1"/>
				<xs:element name="DynamicMapping" type="DynamicMappingType" maxOccurs="1"
					minOccurs="1"> </xs:element>
			</xs:choice>

		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ComponentType">
		<xs:complexContent>
			<xs:extension base="DataElementType">
				<xs:sequence>
					<xs:element name="Predicate" type="PredicateType" maxOccurs="1" minOccurs="0"/>
					<xs:element name="ConformanceStatements" type="ConformanceStatementsType"
						maxOccurs="1" minOccurs="0"> </xs:element>
					<xs:element name="Structure" type="ComponentStructureType" maxOccurs="1"
						minOccurs="0"> </xs:element>

				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="ComponentStructureType">


		<xs:sequence>
			<xs:element name="SubComponent" type="SubComponentType" maxOccurs="unbounded"
				minOccurs="1"> </xs:element>
		</xs:sequence>


	</xs:complexType>

	<xs:complexType name="SubComponentType">
		<xs:complexContent>
			<xs:extension base="DataElementType">
				<xs:sequence>
					<xs:element name="Predicate" type="PredicateType" maxOccurs="1" minOccurs="0"/>
					<xs:element name="ConformanceStatements" type="ConformanceStatementsType"
						maxOccurs="1" minOccurs="0"> </xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="PredicateType">
		<xs:sequence>
			<xs:element name="Description" type="xs:string" maxOccurs="1" minOccurs="1"> </xs:element>
			<xs:element name="Condition" type="AnyAssertionType" maxOccurs="1" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="TrueUsage" type="UsageType" use="required"/>
		<xs:attribute name="FalseUsage" type="UsageType" use="required"/>
	</xs:complexType>


	<xs:complexType name="CaseType">
		<xs:sequence>
			<xs:element name="Field" type="FieldType" maxOccurs="1" minOccurs="1"> </xs:element>
		</xs:sequence>
		<xs:attribute name="Value" type="xs:string" use="required"/>
		<xs:attribute name="SecondValue" type="xs:string"/>
	</xs:complexType>

	<xs:complexType name="GroupStructureType">
		<xs:choice minOccurs="1" maxOccurs="unbounded">
			<xs:element name="Segment" type="SegmentType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Group" type="GroupType" minOccurs="1" maxOccurs="1"/>
		</xs:choice>
	</xs:complexType>

	<xs:complexType name="DynamicBinding">
		<xs:sequence>
			<xs:element name="Case" type="CaseBinding"/>
		</xs:sequence>
		<xs:attribute name="Reference" type="xs:string" use="required"> </xs:attribute>
	</xs:complexType>

	<xs:complexType name="CaseBinding">
		<xs:sequence>
			<xs:element name="Binding" type="BindingType"/>
		</xs:sequence>
		<xs:attribute name="Value" type="xs:string" use="required"/>
	</xs:complexType>

	<xs:complexType name="BindingType">
		<xs:attribute name="Binding" type="NonEmptyString" use="required"/>
		<xs:attribute name="BindingStrength" type="BindingStrengthType"/>
		<xs:attribute name="BindingLocation" type="BindingLocationType"/>
	</xs:complexType>

	<xs:complexType name="AnyAssertionType">
		<xs:sequence>
			<xs:any minOccurs="0" processContents="skip"/>
		</xs:sequence>
	</xs:complexType>


	<xs:complexType name="CoConstraintsType"/>

	<xs:complexType name="ValueSetReferenceType">
		<xs:attribute name="Reference" type="xs:string"/>
	</xs:complexType>
</xs:schema>
