HL7 v2 schemas/library/MessageProfileIdentifier.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" vc:minVersion="1.1">
	<xs:element name="ProfileDefinition" type="ProfileDefinitionType"/>
	<xs:complexType name="ProfileDefinitionType">
		<xs:sequence>
			<xs:choice>
				<xs:element ref="CoreProfile"/>
				<xs:element ref="MessageProfile"/>
				<xs:element ref="CompositeProfile"/>
			</xs:choice>
			<xs:element ref="ValueSetLibrary" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CompositeProfile">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CompositeProfileIdentifier" minOccurs="0"/>
				<xs:choice>
					<xs:element ref="CoreProfile"/>
					<xs:element ref="MessageProfile"/>
					<xs:element ref="CompositeProfile"/>
				</xs:choice>
				<xs:choice minOccurs="1" maxOccurs="unbounded">
					<xs:element ref="ProfileComponent"/>
					<xs:element ref="ValueSetLibrary"/>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CoreProfile" type="Identifier"/>
	<xs:element name="MessageProfile" type="Identifier"/>
	<xs:element name="CompositeProfileIdentifier" type="Identifier"/>
	<xs:element name="ProfileComponent" type="Identifier"/>
	<xs:element name="ValueSetLibrary" type="Identifier"/>
	<!-- Identifier definition (EI datatype)-->
	<xs:complexType name="Identifier">
		<xs:sequence>
			<xs:element ref="EntityIdentifier" minOccurs="0"/>
			<xs:element ref="NamespaceID" minOccurs="0"/>
			<xs:element ref="UniversalID" minOccurs="0"/>
			<xs:element ref="UniversalIDType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="EntityIdentifier" type="xs:string"/>
	<xs:element name="NamespaceID" type="xs:string"/>
	<xs:element name="UniversalID" type="xs:string"/>
	<xs:element name="UniversalIDType" type="xs:string"/>
</xs:schema>
